.browseButton {
  cursor: pointer;
  background-color: var(--accent-color, var(--accent-color, #00BCD4));
  box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
  outline: 0 !important;
  border-radius: 100%;
  height: 61px;
  width: 61px;
  text-align: center;
  transition: all .2s ease;

  &:after {
    color: var(--text-color, #FFFFFF);
    font-size: 3.2em;
    content: '+';
  }

  &:hover {
    background-color: var(--dark-primary-color, #455A64);
  }
}