.uploadList {

  .statusBar {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    align-items: center;
    padding: 10px;

    .counter {
      color: var(--text-color, #FFFFFF);
      font-size: 1.3em;

      .loaded {
        &:after {
          padding: 0 10px;
          content: '\/';
        }
      }

      .total {
        color: var(--light-primary-color, #CFD8DC);
      }
    }

    .actions {
      margin-left: auto;

      .clear {
        cursor: pointer;
        background-color: var(--primary-color, #607D8B);
        box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
        outline: 0 !important;
        color: var(--text-color, #FFFFFF);
        border-radius: 100%;
        height: 40px;
        width: 40px;
        transition: all .2s ease;
        text-align: center;

        &:after {
          display: block;
          padding-top: 11px;
          font-family: 'Font Awesome 5 Free', serif;
            content: '\f51a';
        }

        &:hover {
          background-color: var(--accent-color, #00BCD4);
        }
      }
    }
  }

  .listWrapper {
    overflow: auto;
    background-color: #fafafa;

    .list {
      padding: 0;
      margin: 0;
      background-color: #fafafa;
      color: var(--primary-text-color, #212121);
    }
  }

  &.empty {
    .statusBar {
      display: none;
    }
  }
}