<div
	import:UploadItem="../UploadItem"
	import:main="./UploadList.scss"
	style:main="uploadList"
	class:main:empty|progress="state|empty"
>
	<div style:main="statusBar">
		<div style:main="counter">
			<span style:main="loaded">{loaded|0}</span>
			<span style:main="total">{total|0}</span>
		</div>
		<div style:main="actions">
			<div style:main="clear" event:clear="click"></div>
		</div>
	</div>
	
	<div style:main="listWrapper" prop:listWrapper>
		<ul style:main="list" prop:list></ul>
	</div>
</div>