<div
	import:BrowseButton="../BrowseButton"
	import:main="./DragArea.scss"
	
	style:main="dragArea"
	class:main:highlight="highlight"
	
	event:dragStart="dragenter dragover"
	event:dragFinish="dragleave dragend drop"
	event:drop="drop"
>
	<h1 style:main="header">
		drag files here or
		<span style:main="browse" event:browse="click">browse</span>
	</h1>
	
	<div style:main="browseButton">
		<BrowseButton
			event:changeFileInput="changeFileInput"
		/>
	</div>
	
	<input type="file" multiple style="display: none"
	       prop:fileInput
	       event:changeFileInput="change"
	/>
</div>