.dragArea {
  position: relative;
  margin: 0;
  padding: 85px 0;
  background-color: var(--primary-color, #607D8B);
  color: var(--text-color, #FFFFFF);
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

  outline: 2px dashed var(--dark-primary-color, #455A64);
  outline-offset: -10px;

  &.highlight {
    background-color: #779bac;
    outline-offset: -15px;
  }

  .header {
    margin: 0;
    padding: 0;
    text-align: center;

    .browse {
      cursor: pointer;
      color: var(--accent-color, #00BCD4);

      &:hover {
        color: var(--dark-primary-color, #455A64);
      }
    }
  }

  .browseButton {
    & > * {
      position: absolute;
      bottom: -28px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }
}