<li
	import:ProgressBar="../ProgressBar"
	import:{Element}="@nrg/form"
	import:main="./UploadItem.scss"
	
	extends:Element
	
	style:main="uploadItem"
	class:main:primary|progress|load|invalid="state|primary"
>
	<div style:main="close" event:close="click"></div>
	<div style:main="fileIcon" prop:fileIcon></div>
	
	<div style:main="progressBar">
		<ProgressBar prop:percent="percent"/>
	</div>
	
	<div style:main="file">
		<div style:main="name">{name}</div>
		
		<div style:main="size">
			<span style:main="loaded">{@loaded}</span>
			<span style:main="total">{@total}</span>
		</div>
		
		<div style:main="error">
			{@errorMessage}
		</div>
	</div>
	
	<div style:main="actions">
		<div style:main="open" event:open="click"></div>
	</div>
	
</li>