.uploadItem {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: center;
  padding: 15px 0;
  border-bottom: var(--divider-text-color, #BDBDBD) 1px solid;

  .progressBar {
    margin-right: 40px;
  }

  .file {
    .name {
      font-size: 1.1em;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .size {
      color: var(--secondary-text-color, #757575);
      padding-top: 10px;

      .loaded {
        color: var(--accent-color, #00BCD4);

        &:after {
          color: var(--secondary-text-color, #757575);
          padding: 0 10px;
          content: '\/';
        }
      }
    }

    .error {
      &:first-letter {
        text-transform: uppercase;
      }
      padding: 10px 0 0;
      color: crimson;
    }
  }

  .actions {
    display: flex;
    margin-left: auto;
    padding-right: 100px;
    font-family: 'Font Awesome 5 Free', serif;
    font-size: 1.3em;
    color: var(--secondary-text-color, #757575);

    & > * {
      cursor: pointer;
      background-color: var(--primary-color, #607D8B);
      box-shadow: 0 3px 10px rgba(0, 0, 0, .23), 0 3px 10px rgba(0, 0, 0, .16);
      outline: 0 !important;
      color: var(--text-color, #FFFFFF);
      border-radius: 100%;
      height: 40px;
      width: 40px;
      transition: all .2s ease;
      text-align: center;

      &:after {
        display: block;
        padding: 8px 0 0 3px;
        font-family: 'Font Awesome 5 Free', serif;
      }

      &:hover {
        background-color: var(--accent-color, #00BCD4);
      }
    }

    .open:after {
      content: '\f07c';
    }
  }

  .close {
    position: absolute;
    font-family: 'Font Awesome 5 Free', serif;
    color: var(--divider-text-color, #BDBDBD);
    cursor: pointer;
    top: 5px;
    right: 20px;

    &:after {
      content: '\f057';
    }

    &:hover {
      color: var(--secondary-text-color, #757575);
    }
  }

  &.primary {
    .fileIcon {
      display: none;
    }

    .progressBar {
      display: none;
    }

    .file {
      display: none;
    }

    .actions {
      display: none;
    }
  }

  &.progress {
    .fileIcon {
      display: none;
    }

    .actions {
      display: none;
    }
  }

  &.load {
    .progressBar {
      display: none;
    }

    .file {
      .size {
        .loaded {
          display: none;
        }
      }
    }
  }

  &.invalid {
    .progressBar {
      display: none;
    }

    .file {
      .size {
        .loaded {
          display: none;
        }
      }
    }

    .fileIcon {
      &:after {
        color: crimson;
        content: '\f06a';
      }
    }

    .actions {
      display: none;
    }
  }
}

@mixin file-icon($content, $color: #779bac) {
  &:before {
    content: $content;
    color: $color;
  }
}

.fileIcon {
  position: relative;
  margin-right: 40px;
  padding: 10px 18px;

  &:before {
    font-family: 'Font Awesome 5 Free', serif;
    font-size: 3rem;
    display: inline-block;
    content: '\f15b';
    color: #779bac;
    max-width: 36px;
    max-height: 52px;
  }

  &:after {
    position: absolute;
    top: 0;
    font-family: 'Font Awesome 5 Free', serif;
    color: var(--accent-color, #00BCD4);
    font-size: 1.5rem;
    content: '\f00c';
    display: inline-block;
  }

  &.txt {
    @include file-icon('\f15c');
  }

  &.jpg {
    @include file-icon('\f1c5');
  }

  &.png {
    @include file-icon('\f1c5');
  }

  &.pdf {
    @include file-icon('\f1c1');
  }

  &.zip {
    @include file-icon('\f1c6');
  }
}