:root {
  --dark-primary-color: #0288D1;
  --light-primary-color: #B3E5FC;
  --primary-color: #03A9F4;
  --text-color: #FFFFFF;
  --accent-color: #FF5722;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-text-color: #BDBDBD;
}