:root {
  --dark-primary-color: #455A64;
  --light-primary-color: #CFD8DC;
  --primary-color: #607D8B;
  --text-color: #FFFFFF;
  --accent-color: #00BCD4;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --divider-text-color: #BDBDBD;
}