.uploader {
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: var(--dark-primary-color, #455A64);
  color: var(--light-primary-color, #CFD8DC);
  padding: 0;
  margin: 0;
}