$font-path: "./fonts";

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: normal;
  font-display: auto;
  src: url('#{$font-path}/fontello.eot');
  src: url('#{$font-path}/fontello.eot?#iefix') format('embedded-opentype'),
  url('#{$font-path}/fontello.woff2') format('woff2'),
  url('#{$font-path}/fontello.woff') format('woff'),
  url('#{$font-path}/fontello.ttf') format('truetype'),
  url('#{$font-path}/fontello.svg#fontello') format('svg');
}
