// Variables

$font-family: Tahoma, Geneva, sans-serif;

$size: 4.5em;
$ring-color: var(--accent-color, #00BCD4);
$circle-color: inherit;

$base-size: 1em;
$label-font-size: $base-size / 4;
$label-font-size-redo: $base-size * 4;

// Mixins

@mixin size($value) {
  width: $value;
  height: $value;
}

@mixin progress() {
  @for $i from 0 through 100 {
    &[data-value="#{$i}"] {
      .ring {
        .half {
          border-color: $ring-color;
        }
        .left {
          transform: rotate($i * 3.6deg);
        }
        .right {
          transform: rotate(180deg);
          display: none;
        }
        @if $i > 50 {
          clip: rect(auto, auto, auto, auto);

          .right {
            display: block;
          }
        }
      }
    }
  }
}

// Selectors

.progressBar {
  @include progress();
  @include size($base-size);

  position: relative;
  font-family: $font-family;
  font-size: $size;

  .ring {
    @include size(100%);
    clip: rect(0, $base-size, $base-size, $base-size / 2);
    position: absolute;
    left: 0;
    top: 0;

    .half {
      @include size(100%);
      clip: rect(0, $base-size / 2, $base-size, 0);
      border: ($base-size / 10) solid $ring-color;
      border-radius: 50%;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;

      &:before, &:after {
        box-sizing: border-box;
      }
    }
  }

  .label {
    background: $circle-color;
    border-radius: 50%;
    color: var(--primary-text-color, #212121);
    cursor: default;
    display: block;
    text-align: center;
    font-size: $label-font-size;
    line-height: $label-font-size-redo * .70;
    position: absolute;
    left: $label-font-size-redo / 10;
    right: $label-font-size-redo / 10;
    top: $label-font-size-redo / 10;
    bottom: $label-font-size-redo / 10;

    .sign {
      color: var(--secondary-text-color, #757575);
      font-size: .7em;
      vertical-align: super;
    }
  }
}
