<div
	import:main="./ProgressBar.scss"
	style:main="progressBar"
>
	<span style:main="label">{@percent|0}<span style:main="sign">%</span></span>
	<div style:main="ring">
		<div style:main="left half"></div>
		<div style:main="right half"></div>
	</div>
</div>